.login-page {
    border: 1px #bbc3dd solid;
    border-radius: 36px;
    margin: 10px 0;
    overflow: hidden;
}

h2.form-title {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}

.form-login .form-floating > label {
    font-size: 16px;
}

.form-login .form-floating > input.form-control {
    height: 52px;
    font-size: 14px;
    font-weight: 300;
    border: 1px #bbc3dd solid;
    border-radius: 12px;
}

.form-login .form-check {
    font-size: 18px;
}

.form-login .form-check .form-check-label {
    font-size: 16px;
}

.login-page a.forgot-password {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 640px) {
    .login-page {
        border: none;
        padding: 0;
    }

    .login-page img {
        display: none;
    }
	.mobile-login{
		display: block !important;
		border-radius: 16px;
	}
	.alert-danger{
		padding: 0px !important;
	}
}
